//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.pug

block content
  -var fn=classname + courseName 
  h3= classname + courseName 
  .btn-group
    a(href=`/internal/markup/studcourse/editstudmark/${course_d_id}?fn=${fn}`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
      span  EditMarks
    a(href=`/internal/markup/studcourse/regstudcourse/${course_d_id}?fn=${fn}`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-plus-sign
      span  RegStud
    a(href=`/internal/markup/studcourse/${course_d_id}/xls?fn=${fn}`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-save
      span  Xls
  table#tbl
    tr
      td |_座號_|
      td |_姓名_|
      td |_測驗1_|
      td |_考試1_|
      td |_測驗2_|
      td |_考試2_|
      td |_測驗3_|
      td |_考試3_|
    each book in books
      tr
        td= book.seat
        td= book.c_name
        td(align='right')= book.t1
        td(align='right')= book.e1
        td(align='right')= book.t2
        td(align='right')= book.e2
        td(align='right')= book.t3
        td(align='right')= book.e3
         
        