//- attend
extends ../base.pug
block content
  -var readflag=false;
  -if(profile.id==2002024) readflag=false;
  style.
    input{color:black;}
  form(method="POST")
    table
      tr
        td 發佈日期:
        td
          input(name="pdate",value=cfg.pdate)
      tr
        td 學年(1718):
        td
          input(name="sess",value=cfg.sess)
      tr
        td 學年(2017~2018):
        td
          input(name="session",value=cfg.session)
      tr
        td 第几段:
        td
          input(name="term",value=cfg.term,readonly=readflag)
      tr
        td 班級:
        td
          input(name="classno",value=cfg.classno,readonly=readflag)
      tr
        //td SPK
        td
          input(type="hidden",name="SPK",value=cfg.SPK)
      tr
        //td ao
        td
          input(type="hidden",name="aoflag",value=cfg.aoflag)
      tr
        td 選擇座號
        td
          input(name="filter",value="none")
      tr
        td Mark/Grade
        td
          label 分數
          input(name="mg",type="Radio",value="m",checked) 
          span &nbsp;&nbsp;&nbsp;
          label 等級
          input(name="mg",type="Radio",value="g") 
      tr
        td
          label FORMAT
        td
          label 段成績
          input(name="fmt",type="Radio",value="mfmttermp",checked) 
          span &nbsp;&nbsp;&nbsp;
          //label 學年成績DOCX
          //input(name="fmt",type="Radio",value="docx") 
          //span &nbsp;&nbsp;&nbsp;
          //label xls
          //input(name="fmt",type="Radio",value="xls") 
          //span &nbsp;&nbsp;&nbsp;
          //label json
          //input(name="fmt",type="Radio",value="json") 
      tr
        td
          label calcopt
        td
          label calc
          input(name="calcopt",type="Radio",value="calc",checked) 
          span &nbsp;&nbsp;&nbsp;
          label readonly
          input(name="calcopt",type="Radio",value="readonly") 
          span &nbsp;&nbsp;&nbsp;
          label calcupdate
          input(name="calcopt",type="Radio",value="calcupdate") 
      tr
        td
          label update_PubDate
        td
          label None
          input(name="update_PubDate",type="Radio",value="none",checked) 
         
      tr
        td
        td
          input(type="submit")

