mixin gfix2(m) 
  span !{m}
  case m
    when "A" 
      span &nbsp;
    when "B" 
      span &nbsp;
    when "C" 
      span &nbsp;
    when "D" 
      span &nbsp;
mixin pm2g(m) 
  span !{m>=95 ? "A&nbsp;":m>=90 ? "A-": m>=85? "B+": m>=80 ? "B&nbsp;":m>=75? "B-":m>=70? "C+":m>=65? "C&nbsp;":m>=60? "C-":"D&nbsp;"}
mixin sm2g(m) 
  span !{m==100?"A+": m>=95 ? "A&nbsp;":m>=90 ? "A-": m>=85? "B+": m>=80 ? "B&nbsp;":m>=75? "B-":m>=70? "C+":m>=65? "C&nbsp;":m>=61? "C-":m>=60? "D&nbsp;":"F&nbsp;"}
mixin tdmark(term,m1)
  case term  
    when "1"
      -m1test=m1.t1
      -m1exam=m1.e1
      -m1total=m1.total1.toFixed(2)
    when "2"
      -m1test=m1.t2
      -m1exam=m1.e2
      -m1total=m1.total2.toFixed(2)
    when "3"
      -m1test=m1.t3
      -m1exam=m1.e3
      -m1total=m1.total3.toFixed(2)
  td(class="mk1")= m1test
  td(class="mk1")= m1exam
  td(class="mke")= m1.eog==1 ? m1total : ""
    span !{m1.eog==1&& m1total<60? "*":"&nbsp;"}
mixin tdtotal(term,element)
  -elmark=0
  case term
    when "1"
      -elmark=element.mark1.toFixed(2)
    when "2"
      -elmark=element.mark2.toFixed(2)
    when "3"
      -elmark=element.mark3.toFixed(2)
    default 
      -elmark=0
  span #{elmark}!{elmark<60? "*":"&nbsp;"}


mixin tdfield(m1)
  case m1.c_t_type
    when "必修"
      tr
        td(class="mk0",colspan=3) [基礎學科]
        td(class="mke")
    when "必選"
      tr
        td(class="mk0",colspan=3) [拓展及自選學科]
        td(class="mke")
    when "職業文化"
      tr
        td(class="mk0",colspan=3) [社會文化學科]
        td(class="mke")
    when "職業專業"
        td(class="mk0",colspan=3) [專業科技及實踐學科]
        td(class="mke")
    default
      span= m1.c_t_type  
mixin td_cult_avg(term,element)
  case term
    when "1"
      span #{element.voca_cult_avg1.toFixed(2)}!{element.voca_cult_avg1<60? "*":"&nbsp;"}
    when "2"
      span #{element.voca_cult_avg2.toFixed(2)}!{element.voca_cult_avg2<60? "*":"&nbsp;"}
    when "3"
      span #{element.voca_cult_avg3.toFixed(2)}!{element.voca_cult_avg3<60? "*":"&nbsp;"}
    default 
      span error  
mixin td_prof_avg(term,element)
  case term
    when "1"
      span #{element.voca_prof_avg1.toFixed(2)}!{element.voca_prof_avg1<60? "*":"&nbsp;"}
    when "2"
      span #{element.voca_prof_avg2.toFixed(2)}!{element.voca_prof_avg2<60? "*":"&nbsp;"}
    when "3"
      span #{element.voca_prof_avg3.toFixed(2)}!{element.voca_prof_avg3<60? "*":"&nbsp;"}
    default 
      span error             
mixin trFieldTotal(field,element)
  if field==""
  else
    tr           
      td(class="mkT") 學科總平均成績
      td(class="mkT")
      td(class="mkT")
      td(class="mkTE")
        case field
          when "職業文化"
            +td_cult_avg(term,element)
          when "職業專業"
            +td_prof_avg(term,element)
          default        
            span error
            //+tdtotal(term,element)
