//-- Markup System ..

extends ./base.pug
block content
  mixin accor_li(link, itemName,ico,btnid)
    tr
      td(width=260,style='color:white;background:black')
        a(href=link,id=btnid) 
          img(src=`/images/markicon/${ico}`)
          span(style='color:white;background:black')= itemName        
  mixin accor_li0(link,dlink,itemName,ico,btnid)
    tr
      td(width=260,style='color:white;background:black')
        img(src=`/images/markicon/${ico}`)
        a(href=link,id=btnid) 
          span(style='color:white;background:black')= itemName        
        a(href=dlink)           
          span(class="glyphicon",style='color:white;background:black') &#xe026;
        a(href='#',id=`${btnid}Upd`)             
          span(class="glyphicon",style='color:white;background:black') &#xe027;
  mixin accor_li1(link, itemName, ico, btnid)
    tr
      td(width=260,style='color:white;background:black')
        img(src=`/images/markicon/${ico}`)
        a(href=link,id=btnid) 
          span(style='color:white;background:black')= itemName        
        a(href='#',id=`${btnid}_upd`) 
          span(class="glyphicon",style='color:white;background:black') &#xe027;   
  mixin accor_li3(itemName, ico, btnid)
    tr
      td(width=260,style='color:white;background:black')
        img(src=`/images/markicon/${ico}`)
        a(href=link,id=btnid) 
          span(style='color:white;background:black')= itemName        
        a(href='#',id=`${btnid}_dow`)           
          span(class="glyphicon",style='color:white;background:black') &#xe026;
        a(href='#',id=`${btnid}_upd`) 
          span(class="glyphicon",style='color:white;background:black') &#xe027;                    
  mixin accor_li4(itemName, ico, btnid)
    tr
      td(width=260,style='color:white;background:black')
        img(src=`/images/markicon/${ico}`)
        a(href=link,id=btnid) 
          span(style='color:white;background:black')= itemName        

  script(src='/javascripts/cool/webtoolkit.aim.js')
  style.
    div.container{ margin:0px; }
  .row
    .col-lg-3
      div#accordion
        div
          h3
            a(href='#') 成績系統 
          table
            //"/internal/dashboard/sharefiles/mrsMarkXls"
            +accor_li1("/internal/markup/mycourse","成績表格","2Programs.ico","btnCrs")
            if euser.classno
              +accor_li0(`/internal/markup/pingyu/${euser.classno}?r=true&`,`/internal/markup/markcommentxls/${euser.classno}`,`${euser.classno}評語`,"2Programs.ico","btnComme")
              +accor_li0(`/internal/markup/conduct/${euser.classno}?r=true&`,`/internal/markup/markconductxls/${euser.classno}`,`${euser.classno}操行`,"2Programs.ico","btnCondu")
              +accor_li(`/internal/markup/markstatisxls/${euser.classno}?term=1`,`${euser.classno}第1段總表`,"2Programs.ico","btnCrsTJ1")
              +accor_li(`/internal/markup/markstatisxls/${euser.classno}?term=2`,`${euser.classno}第2段總表`,"2Programs.ico","btnCrsTJ2")
              +accor_li(`/internal/markup/markstatisxls/${euser.classno}?term=3`,`${euser.classno}第3段總表`,"2Programs.ico","btnCrsTJ3")
              +accor_li(`/internal/markup/markstatisxls/${euser.classno}`,`${euser.classno}學年總表`,"2Programs.ico","btnCrsTJ")
              +accor_li("/internal/markup/InputMarkNoticParam","成績單",     "2Programs.ico","btnMrsNotic")   
              +accor_li("/internal/markup/InputMarkReportParam","成績表",     "2Programs.ico","btnMrsReport")   
              // +accor_li(`/internal/markup/grademark/${euser.classno}?r=true&fn=${euser.classno}_grademark`,`${euser.classno}等級課程`,"2Programs.ico","btnCrsTJ")
              // http://d8.mbc.edu.mo/internal/markup/marksummaryxls/P1A?stafref=2002024&term=1
              // http://d8.mbc.edu.mo/internal/markup/markconductxls/P1A
              // http://d8.mbc.edu.mo/internal/markup/markcommentxls/P1A
          if sstafpanel              
            h3
              a(href='#') S教務員 
            table  
              +accor_li( "/internal/markup/InputMarkNoticParam", "成績單",     "2Programs.ico","btnMrsNotic")   
              +accor_li( "/internal/markup/InputMarkReportParam","成績表",     "2Programs.ico","btnMrsReport")   
              +accor_li( "/internal/markup/mark_report_mrs_course_table?c=S&orderby=classno,tab","課程表",     "2Programs.ico","btnMrsReport")   
          if pstafpanel  
            h3
              a(href='#') 教務員 
            table
              +accor_li("/internal/markup/grademarkregstud","音藝登記學生","2Programs.ico","btnRegStudGCrs")   
              +accor_li3("音藝Grade分數","2Programs.ico","btnGCrs")            
              +accor_li( "#","段總分","2Programs.ico","btnMarkStatis")                
              +accor_li( "#","操行評語","2Programs.ico","btnCommentConductStatis")                
              +accor_li( "/internal/markup/InputMarkNoticParam", "成績單",     "2Programs.ico","btnMrsNotic")   
              +accor_li( "/internal/markup/InputMarkReportParam","成績表",     "2Programs.ico","btnMrsReport") 
              +accor_li( "/internal/markup/InputMarkReportParam","成績表",     "2Programs.ico","btnMrsReport") 
              +accor_li( "/internal/markup/mark_report_mrs_course_table?c=P&orderby=classno,tab","課程表",     "2Programs.ico","btnMrsReport") 
          - pstaf_GC_panel = "2002024,2016034".indexOf(profile.id)>-1               
          if pstaf_GC_panel                
            h3 
              a(href='#') 選修課1-3
            table
              +accor_li4("音藝Grade分數","2Programs.ico","btnGCrs0")
              +accor_li("/internal/markup/grademark/小提琴?cno=P13","小提琴","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/管弦樂?cno=P13","管弦樂","2Programs.ico", "btnGCrs1")
          - pstaf_GC_panel = "2002024,2003006".indexOf(profile.id)>-1               
          if pstaf_GC_panel                
            h3 
              a(href='#') 選修課4
            table
              +accor_li4("音藝Grade分數","2Programs.ico","btnGCrs0")            
              +accor_li("/internal/markup/grademark/選修課-管弦樂?cno=P4","選修課-管弦樂(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-合唱團?cno=P4","選修課-合唱團(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-舞蹈?cno=P4","選修課-舞蹈(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-STEM?cno=P4","選修課-STEM(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-體育(A)組?cno=P4","選修課-體育(A)組(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-體育(B)組?cno=P4","選修課-體育(B)組(小四)","2Programs.ico", "btnGCrs1")
            h3 
              a(href='#') 選修課5-6
            table
              +accor_li("/internal/markup/grademark/選修課-管弦樂?cno=P56","選修課-管弦樂","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-合唱團?cno=P56","選修課-合唱團","2Programs.ico",   "btnGCrs2")
              +accor_li("/internal/markup/grademark/選修課-舞蹈?cno=P56","選修課-舞蹈","2Programs.ico",   "btnGCrs3")
              +accor_li("/internal/markup/grademark/選修課-STEM(LEGO)?cno=P56","選修課-STEM(LEGO)","2Programs.ico",     "btnGCrs4")
              +accor_li("/internal/markup/grademark/選修課-STEM(VEXIQ)?cno=P56","選修課-STEM(VEXIQ)","2Programs.ico",     "btnGCrs4")
              +accor_li("/internal/markup/grademark/選修課-體育(A)組?cno=P56","選修課-體育(A)組","2Programs.ico", "btnGCrs5")
              +accor_li("/internal/markup/grademark/選修課-體育(B)組?cno=P56","選修課-體育(B)組","2Programs.ico", "btnGCrs5")
              +accor_li("/internal/markup/grademark/選修課-體育(C)組?cno=P56","選修課-體育(C)組","2Programs.ico", "btnGCrs5")
              +accor_li("/internal/markup/grademark/選修課-體育(D)組?cno=P56","選修課-體育(D)組","2Programs.ico", "btnGCrs5")
          - pstaf_GC_panel = "2002024,2011001,2015020".indexOf(profile.id)>-1               
          if pstaf_GC_panel                
            h3 
              a(href='#') 小學選修課-管弦樂
            table
              +accor_li("/internal/markup/grademark/選修課-管弦樂?cno=P4","選修課-管弦樂(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-管弦樂?cno=P56","選修課-管弦樂(小五小六)","2Programs.ico", "btnGCrs1")
          - pstaf_GC_panel = "2002024,2020004,2016013,2018032".indexOf(profile.id)>-1               
          if pstaf_GC_panel                
            h3 
              a(href='#') 小學選修課-合唱舞蹈
            table
              +accor_li("/internal/markup/grademark/選修課-合唱團?cno=P4","選修課-合唱團(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-舞蹈?cno=P4","選修課-舞蹈(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-合唱團?cno=P56","選修課-合唱團(小五小六)","2Programs.ico",   "btnGCrs2")
              +accor_li("/internal/markup/grademark/選修課-舞蹈?cno=P56","選修課-舞蹈(小五小六)","2Programs.ico",   "btnGCrs3")
          - pstaf_GC_panel = "2002024,2020012,2020013,2013017".indexOf(profile.id)>-1               
          if pstaf_GC_panel                
            h3 
              a(href='#') 小學選修課-STEM
            table
              +accor_li("/internal/markup/grademark/選修課-STEM?cno=P4","選修課-STEM(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-STEM(LEGO)?cno=P56","選修課-STEM(LEGO)","2Programs.ico",     "btnGCrs4")
              +accor_li("/internal/markup/grademark/選修課-STEM(VEXIQ)?cno=P56","選修課-STEM(VEXIQ)","2Programs.ico",     "btnGCrs4")
          - pstaf_GC_panel = "2002024,2019014,2018014,2015035,2010010,2015055,2018013".indexOf(profile.id)>-1               
          if pstaf_GC_panel                
            h3 
              a(href='#') 小學選修課-體育
            table
              +accor_li("/internal/markup/grademark/選修課-體育(A)組?cno=P4","選修課-體育(A)組(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-體育(B)組?cno=P4","選修課-體育(B)組(小四)","2Programs.ico", "btnGCrs1")
              +accor_li("/internal/markup/grademark/選修課-體育(A)組?cno=P56","選修課-體育(A)組(小五小六)","2Programs.ico", "btnGCrs5")
              +accor_li("/internal/markup/grademark/選修課-體育(B)組?cno=P56","選修課-體育(B)組(小五小六)","2Programs.ico", "btnGCrs5")
              +accor_li("/internal/markup/grademark/選修課-體育(C)組?cno=P56","選修課-體育(C)組(小五小六)","2Programs.ico", "btnGCrs5")
              +accor_li("/internal/markup/grademark/選修課-體育(D)組?cno=P56","選修課-體育(D)組(小五小六)","2Programs.ico", "btnGCrs5")

          h3
            a(href='#') 關於 
          table
            +accor_li("#","關於","fat.ico","btnInfo")
      ul(class="nav nav-pills nav-stacked")
        if  euser.classno 
          //li(class="dropdown")
            a(class="dropdown-toggle", data-toggle="dropdown", href="#") 資料輸入
              span( class="caret")
            ul(class="dropdown-menu", id="_mnu")
              li    
                a(href=`/internal/markup/grademark/${euser.classno}?r=true&fn=${euser.classno}_grademark`)
                  span=  `${euser.classno}grademark`                        
          li(class="dropdown")
            a(class="dropdown-toggle", data-toggle="dropdown", href="#") 成績表
              span( class="caret")  
            ul(class="dropdown-menu", id="_mnu0")   
              li
                a(href=`/internal/markup/InputMarkNoticParam`) 打印段成績通知單
              if profile.id=="2002024" || profile.id=="1989002" || profile.id=="2006011"  
                li             
                  a(href=`/internal/markup/InputMarkReportParam`) 打印段成績
    .col-lg-7
      //div(align="right")
        iframe(src="https://www.dsej.gov.mo/~webdsej/www/tvshow/ppt/weather-pic-dsej.php", height="30", width="400", frameborder=0, scrolling="no", marginheight="0", marginwidth="0", allowtransparency="true")
      table
        tr 
          td 處理成績
          td 處理評語操行
        tr 
          if euser.spk == '1'
            td= esess.allowOpSect
            td= esess.allowOpSectForStatement
          else 
            td= esess.p_allowOpSect
            td= esess.p_allowOpSectForStatement

      div(title="Info Dialog",style="display:none")#InfoDialog
        p 用戶設定
        table#UserSetting
          tr
            td ID
            td USERNAME
            td ROLE
            td STAF_REF
            td CLASS
            td SPK
          tr
            td= euser.userID
            td= euser.userName
            td= euser.roleID
            td#STAFREF= euser.staf_ref
            td#euser_classno= euser.classno
            td= euser.spk
  
        p 學校設定
        table#SessSetting
          tr
            td ID
            td SESSION
            td SESS
            td OpSe
            td OpSt
            td POpSe
            td POpSt
            td Date1
            td Date2
            td Date3
          tr
            td#esess_session_id= esess.session_id
            td= esess.session
            td= esess.session_desc
            td= esess.allowOpSect
            td= esess.allowOpSectForStatement
            td= esess.p_allowOpSect
            td= esess.p_allowOpSectForStatement
            td= esess.date1
            td= esess.date2
            td= esess.date3
        P .                  

        if markadmin 
          P Administrator
          a(href=`/internal/GridStafEval/CertificateList`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 檢視進修表          
          a(href=`/internal/markup/markstatisrawdatalistclass`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 檢視班別列表
          a(href=`/internal/markup/statisticsengtotal`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 中英數總表
          a(href=`/internal/markup/statisticsmarktotal`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 總表名次表    
          a(href=`/internal/markup/mark_report_mrs_course_table?c=S&orderby=classno,tab`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 課程表S    
          a(href=`/internal/markup/mark_report_mrs_course_table?c=P&orderby=classno,tab`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 課程表P    
          a(href=`/internal/markup/mark_report_mrs_course_list?r=S&orderby=classno,tab`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
                    span 課程列   

      if ecourse
        p 課程
        table#ecourses
          tr
            td cdid
            td sess
            td term
            td classno
            td staf
            td courseName
            td view
            td download
            td upload
            td 平時評分細項
            td 總分
                    
          each c in ecourse
            tr
              td 
                a(href=`/internal/markup/studcourse/${c.course_d_id}?r=true&fn=${c.classno}${c.courseName}`, style="color: black;")
                   h4(class="bg-success")= (c.course_d_id  )
              td= esess.session
              td= esess.allowOpSect
              td= c.classno
              td= euser.staf_ref
              td= c.courseName
              td
                a(href=`/internal/markup/studcourse/${c.course_d_id}?r=true&fn=${c.classno}${c.courseName}`, class='btn btn-primary btn-sm')
                  i.glyphicon.glyphicon-edit
                  span 檢視
              td
                a(href=`/internal/markup/markcrsxls/${c.course_d_id}?r=true&fn=${c.classno}${c.courseName}`, class='btn btn-primary btn-sm')
                  i.glyphicon.glyphicon-download
                  span 下載
              td
                a(href='#',onclick='mrscrsuploadx(this);', class='btn btn-primary btn-sm')
                  i.glyphicon.glyphicon-upload
                    span 上載                    
              td
                a(href="#", class='CrsSubItemListStyle btn btn-primary btn-sm')
                  i.glyphicon.glyphicon-list-alt
                  span 列表
              td
                a(href="#", onclick=`ShowMrsCourseTotal('${c.classno}',${c.course_d_id});`,class='btn btn-primary btn-sm')
                  i.glyphicon.glyphicon-list-alt
                  span 查總表
              //markstatisrawdata , markstatisxls
  style.
    td{border: 1px solid grey; margin-left: 10px; margin-right: 10px;padding-left: 10px; padding-right: 10px;}
  footer
    p( class="float-right")
      a( href="#") Back to top
    p 澳門浸信中學 &nbsp;版權所有&nbsp;Copyright&nbsp;&#169; 1999 Macau Baptist College.All Rights Reserved

  div(title="Show Msg",style="display:none")#ShowMsg
    pre#ShowMsgTxt  

  include frm/crsupd 
  include frm/commentupd 
  include frm/conductupd 
  include frm/gcrsupd 
  include frm/CrsSubItemList 
  - classli=  ["P1A","P1B","P1C","P1D","P2A","P2B","P2C","P2D","P3A","P3B","P3C","P4A","P4B","P4C","P5A","P5B","P5C","P6A","P6B","P6C",]                 
  - classls=  ["SG1A","SG1B","SG1C","SG1D","SG2A","SG2B","SG2C","SG2D","SG3A","SG3B","SG3C","SG3D","SC1A","SC1B","SC1C","SC1D","SC1E","SC2A","SC2B","SC2C","SC2D","SC2E","SC3A","SC3B","SC3C","SC3D","SC3E"]                 
  div(title="Info Dialog",style="display:none")#ClassSelectorDialog
    form(action="#")#ClassSelectorDialogForm
      table
        tr
          td 起始日期
          td
            input(type="date", name="sDate", value=`${sDate}`)
        tr
          td 結束日期
          td
            input(type="date", name="eDate", value=`${eDate}`)
        tr
          td 學段
          td
            Select(name="term")
              Option(value=1) 第1段
              Option(value=2) 第2段
              Option(value=3) 第3段
              Option(value=4) 學年              
        tr
          td 班別
          td
            Select(name="classno")          
              if pstafpanel  
                each classN in classli
                  Option(value=classN)= classN
              if sstafpanel
                each classN in classls
                  Option(value=classN)= classN
        tr
          td
          td
            input(type="submit",value="submit")
  script.   
    function ShowMsg(x)
    {
      document.getElementById('ShowMsgTxt').innerHTML=x;
      $( "#ShowMsg" ).dialog("open"); //$("#ShowMsg").dialog( { autoOpen: false, });   
    }
    function mrscrsuploadx(x){
      let tds= x.parentElement.parentElement.children;
      let tdtxt=[];
      for(let i=0;i<tds.length;i++){ tdtxt[i]=tds[i].innerText; }
      let sessid=document.getElementById("esess_session_id").innerText;
      let csid= $('#crsupdfrmSessID').text(sessid);
      let cdid= $('#crsupdfrmCdID').text(tdtxt[0]);   
      let crsname= $('#crsupdfrmCourseName').text(tdtxt[3]+tdtxt[5]);
      $( "#crsupdfrm" ).dialog("open"); 
    }
    function mrscrsupload(){
      let csid= $('#crsupdfrmSessID').text('');
      let cdid= $('#crsupdfrmCdID').text('');   
      let crsname= $('#crsupdfrmCourseName').text('');
      $( "#crsupdfrm" ).dialog("open"); 
    }
    function ShowMrsCourseTotal(x,cid){
      let url  ="/internal/markup/markstatisrawdata/"+x.replace(/[ ]+/g,'')+"/json"
      console.log(url)
      $.get( url, function( data ) {
        $( "#ShowMsg" ).dialog( "option", "width", 1024 );
        console.log(`respone:${data}`);
        if(data=="")  {alert("no data");return;}
        data = data.toString().replace(/\w+:/g, function (x) { return '"' + x.replace(":", '":'); });        
        
        let json=JSON.parse(data);
        let ctxt="<table><tr><td>class<td>seat<td>name<td>課程名<td>總分<td>補考<td>PX<td>Status"  ;
        for(let i=0;i<json.length;i++){
          ctxt+="<tr><td>"+ json[i].curr_class+"<td>"+ json[i].curr_seat+"<td>"+ json[i].c_name;
          let mrsdata=json[i].marks;
          let gid=0;pregid=0;
          for(let j=0;j<mrsdata.length;j++){
              if(mrsdata[j].course_d_id==cid){
              ctxt+="<td>"+mrsdata[j].coursename+"<td>"+mrsdata[j].total+"<td>"+mrsdata[j].pk+"<td>"+mrsdata[j].P_X ;  
              if(mrsdata[j].P_X==1) ctxt+="<td>[X]不格及" ;  
              if(mrsdata[j].P_X==2) ctxt+="<td>[P]補考格及" ;  }
          }
        }
        ctxt+="</table>";
        ShowMsg(ctxt);
      });
    }
    $(document).ready(function(){
      $("#ClassSelectorDialog").dialog( { autoOpen: false,width:400,});      
      $("#accordion").accordion({ header: "h3" });
      $("#ShowMsg").dialog( { autoOpen: false, });
      $("#InfoDialog").dialog( {
        autoOpen: false,
        height: 400,
        width:900,
        buttons: [
          {
            text: "close",
            icon: "ui-icon-heart",
            click: function() { $( this ).dialog( "close" ); }
          }
        ]
      });     
      $('#btnInfo').click(function(){
        $( "#InfoDialog" ).css("background", "black");
        $( "#InfoDialog" ).css("color", "white");
        $( "#InfoDialog" ).dialog("open");  
      });
      $('#btnCrs_upd').click(function(){ mrscrsupload();  });
      $('#btnCommeUpd').click(function(){ 
        let csid= $('#esess_session_id').text();
        let classno=$('#euser_classno').text();
        OpenCommentupdfrm(csid,classno);
      });
      $('#btnConduUpd').click(function(){ $( "#conductupdfrm" ).dialog("open");  });
      $('#btnGCrs_upd').click(function(){ $( "#gcrsupdfrm" ).dialog("open");  });
      $('#btnGCrs').click(function(){ $("#gcrsupdClassDialog").dialog("open"); });
      $('#btnGCrs0').click(function(){ $("#gcrsupdClassDialog").dialog("open"); });
      $('#btnGCrs_dow').click(function(){ 
        $("#ClassSelectorDialogForm").attr("action","/internal/markup/grademarkxlsSelector");
        $("#ClassSelectorDialog").dialog("open"); 
      });     
       
      $('#btnMarkStatis').click(function(){ 
        $("#ClassSelectorDialogForm").attr("action","/internal/markup/markstatisxlsSelectorPSTAF");
        $("#ClassSelectorDialog").dialog("open"); 
      });
      $('#btnCommentConductStatis').click(function(){ 
        $("#ClassSelectorDialogForm").attr("action","/internal/markup/markcommentconductxlsSelectorPSTAF");
        $("#ClassSelectorDialog").dialog("open"); 
      });
      $('.CrsSubItemListStyle').click(function(){
        let tds=  this.parentElement.parentElement.children;
        let tdtxt=[];
        for(let i=0;i<tds.length;i++){
          tdtxt[i]=tds[i].innerText;
        }
        $('#CrsSubItemListCRSINFO').text(JSON.stringify(tdtxt))
        $("#CrsSubItemListFrm").dialog("open"); 
        CrsSubItemListRefresh();
      });
    });
