//- attend
extends ./base.pug
block content
  style.
    div.container{ margin:0px; }
    td{border: 1px solid grey; margin-left: 10px; margin-right: 10px;padding-left: 10px; padding-right: 10px;}
  if editable  
    table#SessSetting
      tr
        td ID
        td#esess_session_id= esess.session_id
        td SESS
        td= esess.session
        td TERM
        td= esess.allowOpSect
  h3 Course List 
  table#tbl
    tr
      td 編號 
      td session
      td te
      td Clas
      td staf
      td 課程名稱
      td 檢視成績
      td 下載   
      if editable   
        td 上載
        td 平時分細項
      td 總表
      //td 觀察1             
      //td 觀察2             
    each book in books
      //-var tmp=book.datet.toLocaleDateString("en-us")+" "+book.datet.toLocaleTimeString("en-us")
      tr
        td
          a(href=`/internal/markup/studcourse/${book.course_d_id}?r=${editable}&fn=${book.classno}${book.courseName}`, style="color: black;")
            h4(class="bg-success")= (book.course_d_id)
        td= esess.session
        td= esess.allowOpSect
        td= book.classno
        td= book.staf_ref
        td= (book.courseName)
        td
          a(href=`/internal/markup/studcourse/${book.course_d_id}?r=${editable}&fn=${book.classno}${book.courseName}`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
              span 檢視
        td
          a(href=`/internal/markup/markcrsxls/${book.course_d_id}`, class='btn btn-primary btn-sm')
            i.glyphicon.glyphicon-edit
              span 下載                  
        if editable
          td
            a(href='#',onclick='mrscrsuploadx(this);', class='btn btn-primary btn-sm')
              i.glyphicon.glyphicon-upload
                span 上載                    
          td
            a(href="#", class='CrsSubItemListStyle btn btn-primary btn-sm')
              i.glyphicon.glyphicon-list-alt
              span 列表
        td
          a(href="#", onclick=`ShowMrsCourseTotal('${book.classno}',${book.course_d_id});`,class='btn btn-primary btn-sm')
            span 查總表              
        //td(onclick=`SetObserver(this,"${book.course_d_id}",1);`)= book.observer1    
        //td(onclick=`SetObserver(this,"${book.course_d_id}",2);`)= book.observer2        
  if !books.length
    p No work log found.
  -var prePageToken = nextPageToken - 50 > 0 ? nextPageToken - 50 : 0
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
  h5 註解
  span(class="glyphicon glyphicon-star") Start_Qiz
  span(class="glyphicon glyphicon-flag") End_Qiz
  span(class="glyphicon glyphicon-ok") Close_Qiz__OK
  span(class="glyphicon glyphicon-minus-sign") Close_Qiz_Reject
  span(class="glyphicon glyphicon-pencil") Qiz_Process
  include frm/crsupd 
  include frm/CrsSubItemList  
  script(src='/javascripts/cool/webtoolkit.aim.js')   
  div(title="Show Msg",style="display:none")#ShowMsg
    pre#ShowMsgTxt  

  script.   
    function SetObserver(x,A,B)
    {
      var person = prompt("Please enter STAFREF(00000000) for " + A + " Observer ("+ B+")", "0000000");
      if (person != null) {
        x.innerHTML = person ;
      }
    }
    function ShowMsg(x)
    {
      document.getElementById('ShowMsgTxt').innerHTML=x;
      $( "#ShowMsg" ).dialog("open"); //$("#ShowMsg").dialog( { autoOpen: false, });   
    }
    function mrscrsuploadx(x){
      let tds= x.parentElement.parentElement.children;
      let tdtxt=[];
      for(let i=0;i<tds.length;i++){ tdtxt[i]=tds[i].innerText; }
      let sessid=document.getElementById("esess_session_id").innerText;
      let csid= $('#crsupdfrmSessID').text(sessid);
      let cdid= $('#crsupdfrmCdID').text(tdtxt[0]);   
      let crsname= $('#crsupdfrmCourseName').text(tdtxt[3]+tdtxt[5]);
      $( "#crsupdfrm" ).dialog("open"); 
    }
    function mrscrsupload(){
      let csid= $('#crsupdfrmSessID').text('');
      let cdid= $('#crsupdfrmCdID').text('');   
      let crsname= $('#crsupdfrmCourseName').text('');
      $( "#crsupdfrm" ).dialog("open"); 
    }
    function ShowMrsCourseTotal(x,cid){
      let url  ="/internal/markup/markstatisrawdata/"+x.replace(/[ ]+/g,'')+"/json"
      $.get( url, function( data ) {
        $( "#ShowMsg" ).dialog( "option", "width", 1024 );
        console.log(url,data)
        data = data.toString().replace(/\w+:/g, function (x) { return '"' + x.replace(":", '":'); });        
        let json=JSON.parse(data);
        let ctxt="<table><tr><td>class<td>seat<td>name<td>課程名<td>總分<td>補考<td>PX<td>Status"  ;
        for(let i=0;i<json.length;i++){
          ctxt+="<tr><td>"+ json[i].curr_class+"<td>"+ json[i].curr_seat+"<td>"+ json[i].c_name;
          let mrsdata=json[i].marks;
          let gid=0;pregid=0;
          for(let j=0;j<mrsdata.length;j++){
              if(mrsdata[j].course_d_id==cid){
              ctxt+="<td>"+mrsdata[j].coursename+"<td>"+mrsdata[j].total+"<td>"+mrsdata[j].pk+"<td>"+mrsdata[j].P_X ;  
              if(mrsdata[j].P_X==1) ctxt+="<td>[X]不格及" ;  
              if(mrsdata[j].P_X==2) ctxt+="<td>[P]補考格及" ;  }
          }
        }
        ctxt+="</table>";
        ShowMsg(ctxt);
      });
    }
    $(document).ready(function(){
      $("#ClassSelectorDialog").dialog( { autoOpen: false,width:400,});      
      $("#accordion").accordion({ header: "h3" });
      $("#ShowMsg").dialog( { autoOpen: false, });
      $("#InfoDialog").dialog( {
        autoOpen: false,
        height: 400,
        width:900,
        buttons: [
          {
            text: "close",
            icon: "ui-icon-heart",
            click: function() { $( this ).dialog( "close" ); }
          }
        ]
      });     
      $('#btnInfo').click(function(){
        $( "#InfoDialog" ).css("background", "black");
        $( "#InfoDialog" ).css("color", "white");
        $( "#InfoDialog" ).dialog("open");  
      });

      $('#btnCrs_upd').click(function(){ mrscrsupload();  });
      $('#btnCommeUpd').click(function(){ $( "#commentupdfrm" ).dialog("open");  });
      $('#btnConduUpd').click(function(){ $( "#conductupdfrm" ).dialog("open");  });
      $('#btnGCrs_upd').click(function(){ $( "#gcrsupdfrm" ).dialog("open");  });
      $('#btnGCrs').click(function(){ $("#gcrsupdClassDialog").dialog("open"); });
      $('#btnGCrs_dow').click(function(){ 
        $("#ClassSelectorDialogForm").attr("action","/internal/markup/grademarkxlsSelector");
        $("#ClassSelectorDialog").dialog("open"); 
      });      
      $('#btnMarkStatis').click(function(){ 
        $("#ClassSelectorDialogForm").attr("action","/internal/markup/markstatisxlsSelectorPSTAF");
        $("#ClassSelectorDialog").dialog("open"); 
      });
      $('#btnCommentConductStatis').click(function(){ 
        $("#ClassSelectorDialogForm").attr("action","/internal/markup/markcommentconductxlsSelectorPSTAF");
        $("#ClassSelectorDialog").dialog("open"); 
      });
      $('.CrsSubItemListStyle').click(function(){
        let tds=  this.parentElement.parentElement.children;
        let tdtxt=[];
        for(let i=0;i<tds.length;i++){
          tdtxt[i]=tds[i].innerText;
        }
        $('#CrsSubItemListCRSINFO').text(JSON.stringify(tdtxt))
        $("#CrsSubItemListFrm").dialog("open"); 
        CrsSubItemListRefresh();
      });
      
    });
  
