extends ./baseEditAct.pug
mixin link(aotid,aot, idname, grade)
  if aot==3 && aotid==2
    td.M(id=idname,align='right')= grade
  else if aotid==aot
    td.M(id=idname,align='right')= grade
  else 
    td= grade
block content
  style.
    .tdh{padding-left:10px;padding-right:10px;text-align:center;}
    .m{padding-left:10px;padding-right:10px;}
  div#tableContent
    table#EDUTBL
      tbody
        tr
          td act_c_id
          td#MA_H.tdh activeName
          td#MB_H.tdh teacher
          td#MC_H.tdh SPK

        each book in books
          tr
            td.tdh
              a(href=`actGrade/${book.act_c_id}/edit`)= book.act_c_id
            td.M(id=`MA_activeName_${book.act_c_id}`,style='text-align:left')= book.activeName
            td.M(id=`MB_teacher_${book.act_c_id}`,style='text-align:left')= book.teacher
            td.M(id=`MC_SPK_${book.act_c_id}`,align='right')= book.SPK

  script.
    var fn='!{fn}';
    var PostUrl='/internal/markup/act/actlistUpdate?sid=!{sid}&aot=!{aot}&fn=!{fn}';    
    var returnUrl='/internal/markup/act';
    var CGIExpXlsUrl='/internal/PublicAPI/ExpXls.php?charset=utf-8&filename=mark_!{fn}.xls';
    $('#returnUrlBtn').attr("href", returnUrl);
    $('#CSVFrmPOST').attr("action", CGIExpXlsUrl);
    $(document).ready(function(){
    	BindingPastFrm("PastFrm","PastFrmText","EDUTBL");
    	BindingCSVFrm('CSVFrm','CSVFrm_Link','tableContent','data.xls');
    	BindingFunctions("editbtn","savebtn","pastbtn","exportbtn",'readmodebtn');
    	BindingHead_EditMode(['MA_H','MB_H','MC_H']);
    	BindingFieldDefsIntegerFields({'MC':'INT'});
    	GenOriginalData();
    	
    	$('#prtbtn').click(function(){
            var toPrint = document.getElementById('tableContent');
            var popupWin = window.open('', '_blank', 'width=350,height=150,location=no,left=200px');
            popupWin.document.open();
            popupWin.document.write('<html><title>'+"prt"+'</title><link rel="stylesheet" type="text/css" href="../print.css" /></head><body onload="window.print()">')
    		    popupWin.document.write('<h4>'+fn+'</h4>');
            popupWin.document.write(toPrint.innerHTML);
            popupWin.document.write('</html>');
            popupWin.document.close();
    	});
    });  
   
