doctype html
html
  head
    title MarkSi
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    script.
      function exportDataTbl() {
        var txt= document.getElementById('tableContent').innerHTML;
        document.getElementById('CSVFrmPOSTVALUE').value = txt;
        document.getElementById('CSVFrmPOST').submit();        
      }
      function PrntDataTbl() {
          var txt= document.getElementById('tableContent').innerHTML;
          var popupWin = window.open('', '_blank', 'width=350,height=150,location=no,left=200px');
          popupWin.document.open();
          popupWin.document.write('<html><title>prt</title></head><body>');
          popupWin.document.write(txt);
          popupWin.print();
          //popupWin.document.close();     
      }      
    style.
      td{font-size:15px;}    
    form(method="POST", enctype="multipart/form-data",action=`/internal/PublicAPI/ExpXls.php?charset=utf-8&filename=MRSCOURSENAME.xls`)#CSVFrmPOST
      .form-group.hidden
        input.form-control(type="text", name="CSVFrmPOSTNAME", id="CSVFrmPOSTVALUE")
    h3= fn 
    .btn-group
      a(href='#', class='btn btn-primary btn-sm',onclick="exportDataTbl();")#exportbtn
        i.glyphicon.glyphicon-download-alt
        span  匯出Xls
      a(href='#', class='btn btn-primary btn-sm',onclick="PrntDataTbl()")#prtbtn
        i.glyphicon.glyphicon-print
        span Print 
      a(href='#', class='btn btn-primary btn-sm',onclick="window.history.back();")
        i.glyphicon.glyphicon-backward
        span  go back

    div#tableContent
      table
        tr
          td 編號
          td 班別
          td STAF
          td 教師
          td 課程
          td 必選
          td 學科
          td 節
          td 順序
          td 組別
          td 比率
          td 檔案
  
        each book in books
          tr
            td= book.course_d_id
            td= book.classno
            td= book.staf_ref
            td= book.c_name
            td= book.coursename
            td= book.c_t_type
            td= book.c_field
            td= book.c_section_total
            td= book.tab
            td= book.groupid
            td= book.rate
            td= book.filename
