extends ../base.pug
block content
  style.
    div.container{ margin:0px; }
    td{border: 1px solid grey; margin-left: 10px; margin-right: 10px;padding-left: 10px; padding-right: 10px;}

  H3 登記科長名單
  table
    tr
      td 編號
      td 班別
      td 課程名稱
      td TYPE
      td FIELD
      td 組長1
      td 組長2
    each row in crslist
      tr
        td= row.course_d_id
        td= row.classno
        td= row.courseName
        td= row.c_T_type
        td= row.c_field
        td(onclick=`SetObserver(this,"${row.course_d_id}",1);`)= row.observer1    
        td(onclick=`SetObserver(this,"${row.course_d_id}",2);`)= row.observer2           
  script.
    function SetObserver(x,A,B){
      var person = prompt("Please enter STAF(eg. 00000000) for " + A + " Observer ("+ B+")", x.innerHTML);
      if (person != null) {
        person=person.match(/\d/g)
        if(person &&  person.length>=7){
        person=person.join('');
        $.post( "RegObserver", { csid: A, obsid: B ,staf: person}).done(function( data ) {
          if(data == 1)
            x.innerHTML = person ;
        });
        }
      }
    }  
