html
  head
    title= classno + "_" + term +"_term_mark_report"
    meta(charset='utf-8')
    script(src='/javascripts/jquery.min.js')
    link(rel='stylesheet', href='/mk/css/mfmt_term.css')
    script(type='text/javascript').
      function digformat(x){document.write( x.toFixed(2) );}
      function coursefmt(x,t1,e1,total){document.write( x);}
  body
    -var cnt=0
    each element in books
      -cnt++
      table(class="studinfotbl_css")
        tr
          td(style="width:14.5cm;border:0;margin:0",colspan=9)
            img(class="header",style="width:6cm;",src="/png/mbc_h-png.png")
            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            span(style="font-weight: bold;font-size:20px;") 成  績  通  知  單
      table(style="border-collapse:collapse;")
        tr
          td(class="yt",  style="width:0.9cm;") 學年
          td(class="yt0", style="width:3.3cm;") 2017~2018  第 1 段
          td(class="yt",  style="width:1.6cm;") 發出日期
          td(class="yt0", style="width:2.0cm;") 21/04/2018
          td(class="yt",  style="width:0.9cm;") 班級
          td(class="yt0", style="width:1.1cm;")
            script.
              docclassn(!{element.curr_class})
          td(class="yt" , style="width:2.0cm;") 教青局編號
          td(class="yt0", style="width:2.0cm;")= element.dsej_ref
        tr
          td( class="yt",  style="width:0.9cm;") 姓名
          td( class="yt0", colspan=3)
            span= element.c_name
            span (
            span= element.e_name
            span )
          td(class="yt",style="width:0.9cm;") 學號
          td(class="yt0", style="width:1.0cm;")= element.curr_seat
          td(class="yt",  style="width:2.0cm;") 校內編號
          td(class="yt0", style="width:2.0cm;")= element.stud_ref
        table(class="mk_term_tbl_css")
          tr
            td(class="tablenoneline")
              table(class="mktbl_css")#mark_1
                tr
                  td(class="music_course_title_td") 科目
                  td(class="music_course_term_sub_td") 平時
                  td(class="music_course_term_sub_td") 考試
                  td(class="music_course_term_sub_td1") 成績
                each mele1 in element.marks
                  tr
                    td(class="mk0", width="150px")= mele1.coursename
                    td(class="mk1")= mele1.t1
                    td(class="mk1")= mele1.e1
                    td(class="mke")
                      if mele1.total1 > 0
                        SCRIPT(type='text/javascript').
                          digformat(!{mele1.total1})
                      if mele1.total1 > 0 && mele1.total1<60  
                        span *
                      else
                        span &nbsp;
                tr           
                  td(class="mkT") 總平均成績
                  td(class="mkT")
                  td(class="mkT")
                  td(class="mkTE")= element.mark1
                each mele2 in element.acmarks
                  tr
                    td(class="mk0",colspan=5)= "活動課組別-"+mele2.act_py
                  tr
                    td(class="mk0",colspan=3)= "活動課成績"
                    td(class="mke")= mele2.grade1
                each mele3 in element.gcmarks
                  tr
                    td(class="mk0",colspan=3)= mele3.GC_Name
                    td(class="mke")= mele3.grade1
                tr
                  td(colspan=5)
            td(class="tablenoneline")
              table(class="mknotetbl_css")
                tr
                  td(style="height:40px;", class="music_course_td1") 綜合評鑑
                  td(class="music_course_term_td", colspan="2" ,style="text-align: left;") !{element.SchoolEval1}
                tr
                  td(class="music_course_td1") 在校記錄總結
                  td(class="music_course_term_td", colspan="2")
                    table(class="later")
                      tr(class="later")
                        td(class="later") 
                          span 遲到：
                          span= element.wrg_later1
                          span= "  次"
                        td(class=later) 
                          span 缺席：
                          span= element.wrg_absence1 +  "  節"
                        td(class="later1") 
                          span 曠課：
                          span= element.wrg_truancy_s1+ "  節"
                          span= element.wrg_truancy_t1+ "  次"
                      tr(class="later")
                        td(class="later")
                          span 操行：
                          span= element.conduct1 + "  "
                        td(class="later") 
                          span 違紀：
                          span= element.WrgMarks1 + "  印"
                        td(class="later")
                          span 褒獎：
                          span= element.honor1 + "  印"
                tr
                  td(style="height:40px;",class="music_course_td1") 評語
                  td(colspan=2, class="music_course_term_td", style="text-align: left;")
                    div !{element.py1}
                tr
                  td(colspan="3", class="c_zeroline")
                    table(width="390px", class="c_zeroline")
                      tr
                        td( colspan="3")
                      tr
                        td( class="ying_title") 校長
                        td( class="ying_title") 學部主任
                        td( class="ying_title") 班主任
                        td( class="ying_title") 家長
                        td( rowspan="2" class="c_zeroline")
                          img(width="90px", id="qr_1", style="padding-right:0;margin:0")
                      tr( class="c_oneline", style="height:98px")
                        td( class="c_oneline")
                          img( width="50px", src='/png/xz.png')
                        td( class="c_oneline")
                          img( width="48px", src='/png/zp.png')
                        td(class="c_oneline")= " "
                        td(class="c_oneline")= " "
                tr
                  td( style="font-size:10;vertical-align:top;", colspan=3)
                    div(style="margin-left: auto;margin-right: auto;width: 8em")= "備    註"
                    div(class="c01")= "[1]各科成績以100分為滿分，60分為及格。 有※科目成績以90分為滿分，60分為及格。"
                    div(class="c01")= "[2]校方綜合評鑑學生在校表現，並給予相應評鑑稱謂。品學兼優生：凡操行在甲-或以上並全科及格及總平均分在85分或以上；品行優異生：凡操行在甲-或以上並全科及格；學業優異生：凡操行在乙或以上並全科及格及總平均分在85分或以上；勤學生：凡操行在乙或以上並全科及格及總平均分在75分或以上；全勤生：凡沒有遲到及缺席。"
                    div(class="c01")= "[3]活動課評分準則: A表示優異、B表示良好、C表示及格、D表示不及格。"
                    div(class="c01")= "[4]本文件若無任何本校印章，只可作為臨時成績通知書使用。"
      -var flag= cnt % 2
      if flag==1
        DIV(style='height:1.15cm')
      if flag==0
        DIV(style='page-break-after:always')
