extends ./base.pug
style.
  div.container{
    padding:0px;
    margin:0px;
  }
block content

  //a(href="/internal/deptworklog/add", class=' border: 1px solid black;')
    i.glyphicon.glyphicon-plus
    span  Add Work Log
  table(style=' border: 1px solid black;')#desc
    tr(style=' border: 1px solid black;')
      th(width="36em;",padding="1em",style=' border: 1px solid black;') 日期
      th(width="30em;",padding="1em",style=' border: 1px solid black;') 星期
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第一節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第二節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第三節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第四節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第五節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第六節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第七節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 第八節 
      th(width="65em;",padding="1em",style=' border: 1px solid black;') 備註1 
    each book in books
      tr(style='nth-child(even){background-color: #f2f2f2;}')
        td(style=' border: 1px solid black;')
          if book.logDate
            a(href=`/internal/workgrid/${book.id}`)= ( book.logDate ) 
            
          else
            a(href=`/internal/workgrid/${book.id}`)= ( '+' )
        td(style=' border: 1px solid black;')
          
          if book.logDate
            a(href=`/internal/workgrid/${book.id}`)=  (book.dw)
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.A
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.B
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.C
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.D
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.E
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.F
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.G
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.H
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.I
        td(style=' border: 1px solid black;')
          textarea.form-control(rows=3,readonly=true)= book.J          
  if !books.length
    p No work log found.
  p= nextPageToken
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
