extends ./base.pug

block content
  meta(http-equiv="refresh", content="300")
  a(href="/internal/classeval/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add Rec

  table#desc
    each book in books
      tr
        td
          .media
            a(href=`/internal/classeval/${book.id}`, style="color: grean; ")
              .media-left
              .media-body            
                span= `${book.id}.${book.ce_Date}.${book.ce_SectNo}.${book.ce_CNo}`
                span= book.ce_Subject
                span= book.ce_Teacher
      //tr
        td
          small= book.author
            a(href=`/internal/classeval/followlist?rid=${book.id}`) follow list

  if !books.length
    p No rec found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
