div(title=" 小測列表 Course SubItem List dialog ",style="display:none;background-color:black;color:white;")#CrsSubItemListFrm
  table
    td 
      span 用戶: #{profile.id}     
    td
      span(class="glyphicon glyphicon-refresh")#CrsSubItemListRefresh 
    td 
      span(class="glyphicon glyphicon-list-alt")#CrsSubItemListAgg      
    td
      span(class="glyphicon glyphicon-download")#CrsSubItemListAggXls      
    td
      span(class="glyphicon glyphicon-plus")#CrsSubItemListAdd
    td
      span#CrsSubItemListCRSINFO

  table#mrs_course_detail_subitem
    td 編號 
    td 課目代號 
    td 段 
    td 班別
    td 課目名
    td 小測項目描述
    td 小測分類別
    td 登記日期
    td 截止日期
    td(style='display:none') DataJson 
    td 功能
  
div#new_CrsSubItemList_dlg
  table
    tr
      td 自動編號(唯讀)
      td
        input(name="csid",readonly=true,disabled="disabled")#CrsSubItemList_csid
        span 
    tr
      td 小測項目描述
      td
        input(name="subitem")#CrsSubItemList_subitem
    tr
      td 小測分類
      td
        input(name="marktype")#CrsSubItemList_marktype

div(title="小測列表 CourseSubItemList dialog ",style="display:none;background-color:black;color:white;")#CrsSubItemListUpdFrm
  p 用戶: #{profile.id} 
  span#CrsSubItemListUpdFrmCSID ##
  span _
  span#CrsSubItemListUpdFrmCDID ##
  form(enctype="multipart/form-data",action="/internal/dashboard/sharefiles/mrsMarkXls", method="post",onSubmit="return AIM.submit(this, {'onStart' : CrsSubItemListFrm_startCallback, 'onComplete' : CrsSubItemListFrm_completeCallback})")
    input(type="hidden",name="title")
    input(type="file" name="upload" multiple="multiple")
    input(type="submit" value="提交",style="color:black;")
  p
    span#CrsSubItemListFrm_nr 0
    span#CrsSubItemListFrm_json
      
div(title="Basic dialog",style="display:none")#CrsSubItemListFrm_res
  div#CrsSubItemListFrm_res_XLSTable
  div(style="display:none")#CrsSubItemListFrm_res_XLSJSON  

div(title="Basic dialog",style="display:none")#CrsSubItemListViewFrm
  div#CrsSubItemListViewFrm
  table#CrsSubItemListViewFrmTable

div#CSVFrm
  div#CSVFrm_Link
  form#CSVFrmPOST(method="post",enctype= 'multipart/form-data', action="/internal/GridStafEval/expxls", target="xlsdownload")
    input#CSVFrmPOSTVALUE(type="hidden",name="CSVFrmPOSTNAME")
  
script(type="text/javascript").
  function fmt_now(intdays = 0) {
    var d = new Date();
    if (Math.abs(intdays) > 0) { d = new Date(new Date() - intdays * 3600 * 1000 * 24); }
    var y = d.getFullYear(); var m = d.getMonth() + 1; var d_ = d.getDate();
    return dstr = y + "-" + (m < 10 ? "0" : "") + m + "-" + (d_ < 10 ? "0" : "") + d_;
  }
  function CrsSubItemupdate(x,y){
    $('#CrsSubItemListUpdFrmCSID').text(x);
    $('#CrsSubItemListUpdFrmCDID').text(y);
    $('#CrsSubItemListUpdFrm').dialog("open");
  }
  const arr=["c_sid","course_d_id","term","classno","courseName","subitem","marktype","regdate","lockdate","DataJson"];  
  function CrsSubItemListTableAddRowData(table,json){
    for(let i=0;i< json.length;i++){
      var row = table.insertRow();//0 first row
      for(let j=0;j<arr.length;j++){
        var cell = row.insertCell(j);          
        cell.innerHTML = json[i][arr[j]];
        if(arr[j].indexOf('date')>0) cell.innerHTML = json[i][arr[j]].substring(0,10);
        if(arr[j]=='DataJson') {cell.style.display="none";      }
      }
      cell = row.insertCell();
      var d = fmt_now();
      var d1= json[i]["lockdate"];
      var cellacttxt='<a href="/internal/markup/subitem/coursesubitem/xls/'+json[i]["c_sid"]+'"> <span class="glyphicon" style="color:white">&#xe026;</span> </a> ';
      if(d <= d1){
        cellacttxt =cellacttxt
           +' <span class="glyphicon" onclick="CrsSubItemEdit(this)">&#xe065;</span>  '
           +' <span class="glyphicon" onclick="CrsSubItemupdate('+ json[i]["c_sid"]+','+ json[i]["course_d_id"]+');">&#xe027;</span>  '                            ;
      }
      if(json[i]["DataJson"])
       {cellacttxt =cellacttxt+' <span class="glyphicon" onclick="CrsSubItemView(this)">&#xe032;</span>'  ;}
       cell.innerHTML =cellacttxt;
    }
  }
  
  function AddCrsSubItem(){
    let djson=JSON.parse($('#CrsSubItemListCRSINFO').text());
    let ddj={
       //c_sid:djson[0],
       course_d_id:djson[0],
       session:djson[1],
       term:djson[2],
       classno:djson[3],
       staf_ref:djson[4],
       courseName:djson[5],
       subitem:$('#CrsSubItemList_subitem').val(),
       marktype:$('#CrsSubItemList_marktype').val(),
       regdate:fmt_now(0),
       lockdate:fmt_now(-7),
       DataJson:null
    }
    $.post( "/internal/markup/subitem/coursesubitem/add",ddj, function( data ) {
       let json=JSON.parse(data);
       alert(json.length);
       var table = document.getElementById("mrs_course_detail_subitem");
       CrsSubItemListTableAddRowData(table,json);
    });
  }
  function SaveCrsSubItem(){    
    let ddj={
       c_sid:   $('#CrsSubItemList_csid').val(),
       subitem: $('#CrsSubItemList_subitem').val(),
       marktype:$('#CrsSubItemList_marktype').val(),
       regdate: fmt_now(0)
    }
    $.post( "/internal/markup/subitem/coursesubitem/save",ddj, function( data ) {
       let json=JSON.parse(data);
       let da=json[0];
       var table = document.getElementById("mrs_course_detail_subitem");
       for(let i=0;i<table.rows.length;i++)
       {
         if(table.rows[i].cells[0].innerHTML==da['c_sid']){
              table.rows[i].cells[5].innerHTML=da['subitem'];
              table.rows[i].cells[6].innerHTML=da['marktype'];
         }
       }
    });
  }
  function CrsSubItemView(x){
    let tds=  x.parentElement.parentElement.children;
    let tdtxt=[];
    for(let i=0;i<tds.length;i++){
      tdtxt[i]=tds[i].innerText;
    }
    $.get( "/internal/markup/subitem/coursesubitem/view/"+tdtxt[0], function( data ) {
      let ajson=JSON.parse(data);
      let json=JSON.parse(ajson[0].DataJson);
      var table = document.getElementById("CrsSubItemListViewFrmTable");           
      for(let i=table.rows.length;i>0;i--){ table.deleteRow(i-1);  }
      for(let i=0;i< json.length;i++){
        var row = table.insertRow();//0 first row
        for(let j=0;j<json[i].length;j++){
          var cell = row.insertCell(j);                
          cell.innerHTML = json[i][j];
        }
      }
      $( "#CrsSubItemListViewFrm" ).dialog("open");
    });
  }
  function CrsSubItemEdit(x){
    let tds= x.parentElement.parentElement.children;
    let tdtxt=[];
    for(let i=0;i<tds.length;i++){ tdtxt[i]=tds[i].innerText; }
    $('#CrsSubItemList_csid').val(tdtxt[0]);
    $('#CrsSubItemList_subitem').val(tdtxt[5]);
    $('#CrsSubItemList_marktype').val(tdtxt[6]);
    $('#new_CrsSubItemList_dlg').dialog("open");   
  }
  function CrsSubItemListRefresh(){
    let djson=JSON.parse($('#CrsSubItemListCRSINFO').text());
    $.get( "/internal/markup/subitem/coursesubitem/"+djson[0], function( data ) {
       
       let json=JSON.parse(data);
       //alert(json.length);
       console.log(json);
       var table = document.getElementById("mrs_course_detail_subitem");           
       for(let i=table.rows.length;i>1;i--){ table.deleteRow(i-1);  }
        CrsSubItemListTableAddRowData(table,json);           
    });
  }
  $(document).ready(function(){
    $('#CrsSubItemListRefresh').click(function(){CrsSubItemListRefresh();});
    function CrsSubItemListAggData(){
      var table = document.getElementById("mrs_course_detail_subitem");
      var json = new Array(40);
      for(let i=0;i<json.length;i++){ json[i]=new Array();}
      var k=0;
      for(let i=1;i<table.rows.length;i++)
      {
        let c_sid=table.rows[i].cells[0].innerHTML;
        let subitem= table.rows[i].cells[5].innerHTML;
        let marktype=    table.rows[i].cells[6].innerHTML;
        let datas=    table.rows[i].cells[9].innerHTML;
        if(datas=='' || datas == null ){}else{
          let dataj=JSON.parse(datas);
          for(let j=0;j<dataj.length;j++){
             json[j][k]=dataj[j][2];
             json[j][k+1]=dataj[j][3];
             json[j][k+2]=dataj[j][4];
             json[j][k+3]=dataj[j][7];
             if(dataj[j][7]=="mark"){json[j][k+3]=subitem;}
             if(! dataj[j][7]){ json[j][k+3]=0;}
          }
          k+=4;
        }
      }
      return json;
    }
    $('#CrsSubItemListAggXls').click(function(){
      let arr=CrsSubItemListAggData();
      document.getElementById('CSVFrmPOSTVALUE').value = JSON.stringify(arr);
      document.getElementById('CSVFrmPOST').submit();
    });
    $('#CrsSubItemListAgg').click(function(){
      let json=CrsSubItemListAggData();
      var table = document.getElementById("CrsSubItemListViewFrmTable");           
      for(let i=table.rows.length;i>0;i--){ table.deleteRow(i-1); }
      for(let i=0;i< json.length;i++){
        var row = table.insertRow();//0 first row
        for(let j=0;j<json[i].length;j++)
            row.insertCell(j).innerHTML = json[i][j];
      }
      $( "#CrsSubItemListViewFrm" ).dialog("open");
    });

    $('#CrsSubItemListAdd').click(function(){  
       $('#CrsSubItemList_subitem').val('');
       $('#CrsSubItemList_marktype').val('');
       $('#CrsSubItemList_csid').val('');
       $('#new_CrsSubItemList_dlg').dialog("open");   
    });
    $('#new_CrsSubItemList_dlg').dialog({	autoOpen:false,	minWidth:400,	title:'new_dlg:', open: function(){},
      buttons:{'add/update':function()  {
        if($('#CrsSubItemList_csid').val()==''){AddCrsSubItem();}else{ SaveCrsSubItem();}
        $('#new_CrsSubItemList_dlg').dialog("close");
        }
      }
    });

    $("#CrsSubItemListViewFrm").dialog( {      autoOpen: false,      height:  $(window).height()*0.9,      width:'90%',});
    $("#CrsSubItemListFrm").dialog( { autoOpen: false,height:  $(window).height()*0.9,  width:'90%', });  
    $("#CrsSubItemListUpdFrm").dialog( { autoOpen: false,height:  $(window).height()*0.9,  width:'90%', });  
    $("#CrsSubItemListFrm_res").dialog( {
      autoOpen: false,
      height:  $(window).height()*0.9,
      width:'90%',
      buttons: [
        {
          text: "Update Record",  icon: "ui-icon-heart",
          click: function() {
            //let json=JSON.parse( document.getElementById('CrsSubItemListFrm_res_XLSJSON').innerHTML);
            let json=document.getElementById('CrsSubItemListFrm_res_XLSJSON').innerHTML;
            ShowMsg("Loading ... ");
            //$( "#ShowMsg" ).dialog("open");
            let csid= $('#CrsSubItemListUpdFrmCSID').text();
            let cdid= $('#CrsSubItemListUpdFrmCDID').text();            
            $.post( "/internal/markup/subitem/updateDataJson",{csid:csid,cdid:cdid,data: json})
               .done( function(data) {
                ShowMsg(data);   
              });
              $( this ).dialog( "close" );
          }
        }
      ]
    });
  });  
  function CrsSubItemListFrm_startCallback() { return true; }
  function CrsSubItemListFrm_completeCallback(response) {
    let csid= $('#CrsSubItemListUpdFrmCSID').text();
    let cdid= $('#CrsSubItemListUpdFrmCDID').text();
    response=response.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">', "").replace("</pre>", "");
    document.getElementById('CrsSubItemListFrm_nr').innerHTML = parseInt(document.getElementById('CrsSubItemListFrm_nr').innerHTML) + 1;
    document.getElementById('CrsSubItemListFrm_res_XLSJSON').innerHTML = response;
    let json=JSON.parse( response);
    let destjson=[];
    let tbl="<table>";
    let len=json.length>50?50:json.length;
    for(let i=0;i<json.length;i++){
      if(  json[i][0]=="c_sid" ||( json[i][0]==csid && json[i][1]==cdid) ){
        if(json[i].length>30){destjson.push(json[i].slice(0,29));}
        else{destjson.push(json[i]);}
      tbl+="<tr>"; 
      for(let j=0;j<json[i].length;j++) { tbl+="<td>"+json[i][j]+"</td>"; } 
      tbl+="</tr>";
      }
    }
    tbl+="</table>";
    document.getElementById('CrsSubItemListFrm_res_XLSJSON').innerHTML=JSON.stringify(destjson);
    document.getElementById('CrsSubItemListFrm_res_XLSTable').innerHTML=tbl;
    $( "#CrsSubItemListFrm_res" ).dialog("open");
  }