div(title=" 輸入分數 Course Mark dialog ",style="display:none;background-color:black;color:white;")#crsupdfrm
  p 用戶: #{profile.id} 上傳分數
  span#crsupdfrmSessID
  span _
  span#crsupdfrmCdID
  span _
  span#crsupdfrmCourseName
  form(enctype="multipart/form-data",action="/internal/dashboard/sharefiles/mrsMarkXls", method="post",onSubmit="return AIM.submit(this, {'onStart' : crsupdfrm_startCallback, 'onComplete' : crsupdfrm_completeCallback})")
    input(type="hidden",name="title")
    input(type="file" name="upload" multiple="multiple")
    input(type="submit" value="提交",style="color:black;",onclick="crsupdfrm_submit_wait(this);")#crsupdfrm_submit
  p
    span#crsupdfrm_nr 0
    span#crsupdfrm_json
div(title="Basic dialog",style="display:none")#crsupdfrm_res
  div#crsupdfrm_res_XLSTable
  div(style="display:none")#crsupdfrm_res_XLSJSON       
script(type="text/javascript").
  function crsupdfrm_submit_wait(x)  { $('#'+x.id).hide(); setTimeout(()=>{$('#'+x.id).show(); }, 3000);  } 
  $(document).ready(function(){
    $("#crsupdfrm").dialog( { autoOpen: false,height:  $(window).height()*0.9,  width:'90%', });  
    $("#crsupdfrm_res").dialog( {
      autoOpen: false,
      height:  $(window).height()*0.9,
      width:'90%',
      buttons: [
        {
          text: "Update Record",  icon: "ui-icon-heart",
          click: function() {
            let json=JSON.parse( document.getElementById('crsupdfrm_res_XLSJSON').innerHTML);
            let savejsonurl="/internal/markup/studcourse/editstudmark/marksavejson";
            SaveJson(json,savejsonurl);
            $( this ).dialog( "close" );
          }
        }
      ]
    });
  });  
  function crsupdfrm_startCallback() { return true; }
  function crsupdfrm_completeCallback(response) {
    let csid= $('#crsupdfrmSessID').text();
    let cdid= $('#crsupdfrmCdID').text();       
    response=response.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">', "").replace("</pre>", "");
    document.getElementById('crsupdfrm_nr').innerHTML = parseInt(document.getElementById('crsupdfrm_nr').innerHTML) + 1;
    document.getElementById('crsupdfrm_res_XLSJSON').innerHTML = response;
    let json=JSON.parse( response);    
    if(cdid==""){
      let tbl="<table>";
      for(let i=0;i<json.length;i++){
        tbl+="<tr>"; for(let j=0;j<json[i].length;j++){ tbl+="<td>"+json[i][j]+"</td>"; } tbl+="</tr>";
      }
      tbl+="</table>";
      document.getElementById('crsupdfrm_res_XLSTable').innerHTML=tbl;
    }else{
      let destjson=[];
      let tbl="<table>";
      let len=json.length>50?50:json.length;
      for(let i=0;i<len;i++){
         if(json[i][0]=="s_id" ||( json[i][0]==csid && json[i][1]==cdid) ){    
            if(json[i].length>30){destjson.push(json[i].slice(0,29));}else{destjson.push(json[i]);}
            tbl+="<tr>"; for(let j=0;j<json[i].length;j++){ tbl+="<td>"+json[i][j]+"</td>"; } tbl+="</tr>";
         }
      }
      tbl+="</table>";
      document.getElementById('crsupdfrm_res_XLSJSON').innerHTML=JSON.stringify(destjson);
      document.getElementById('crsupdfrm_res_XLSTable').innerHTML=tbl;
    }
    $( "#crsupdfrm_res" ).dialog("open");
  }