extends ./base.pug  

block content
  -let class_li=[];
  -class_li.push(["P1A","P1B","P1C","P1D"])
  -class_li.push(["P2A","P2B","P2C","P2D"])
  -class_li.push(["P3A","P3B","P3C","P3D"])
  -class_li.push(["P4A","P4B","P4C"]);
  -class_li.push(["P5A","P5B","P5C"]);
  -class_li.push(["P6A","P6B","P6C"]);
  -let gcli=[];  
  -gcli.push("小提琴");
  -gcli.push("管弦樂");
  -gcli.push("選修課-管弦樂");
  -gcli.push("選修課-合唱團");
  -gcli.push("選修課-舞蹈");
  -gcli.push("選修課-STEM");
  -gcli.push("選修課-體育(A)組");
  -gcli.push("選修課-體育(B)組");
  -gcli.push("選修課-管弦樂");
  -gcli.push("選修課-合唱團");
  -gcli.push("選修課-舞蹈");
  -gcli.push("選修課-STEM(LEGO)");
  -gcli.push("選修課-STEM(VEXIQ)");
  -gcli.push("選修課-體育(A)組");
  -gcli.push("選修課-體育(B)組");
  -gcli.push("選修課-體育(C)組");
  -gcli.push("選修課-體育(D)組");  
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.js')
  script(src='/jquery-ui-dist/jquery-ui.js')
  link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.css')
  script(src='/javascripts/cool/webtoolkit.aim.js')  
  div#dialog(title="Basic dialog")
    table
      each trr in class_li
        tr
          each c_ in trr
            td= c_
              a(class="btn btn-primary btn-sm",href=`/internal/markup/studcourse/regstudgradecourse/${c_}`)
                i(class="glyphicon glyphicon-plus-sign")
                span 登記
                span= c_            

  h3 #{action} 選修課學生登記
  a#OpenClassnoDialog(class="btn btn-primary btn-sm")
    //href="/internal/markup/studcourse/regstudgradecourse/P1A")
    i(class="glyphicon glyphicon-plus-sign")
      span 登記學生


  form(method="POST", enctype="multipart/form-data",onSubmit="return AIM.submit(this, {'onStart' : classTablefrm_startCallback, 'onComplete' : classTablefrm_completeCallback})")  
    table
      tr
        td
          .form-group
          label(for="user_course") 課程
          select#slcrs(style="color:black;",name="crs")
            each gc_ in gcli
             option(value=gc_)= gc_
        td
          .form-group
          label(for="user_course") 班別
          select#slcno(style="color:black;",name="cno")
            option(value="---") ---
            option(value="P1A") P1A
            option(value="P1B") P1B
            option(value="P1C") P1C
            option(value="P1D") P1D
            option(value="P2A") P2A
            option(value="P2B") P2B
            option(value="P2C") P2C
            option(value="P2D") P2D
            option(value="P3A") P3A
            option(value="P3B") P3B
            option(value="P3C") P3C
            option(value="P3D") P3D
            option(value="P4A") P4A
            option(value="P4B") P4B
            option(value="P4C") P4C
            option(value="P5A") P5A
            option(value="P5B") P5B
            option(value="P5C") P5C
            option(value="P6A") P6A
            option(value="P6B") P6B                                                
            option(value="P6C") P6C
    div#StudList_txtInfo
    div#stud_cnt
    div#meeting_id
    .form-group
      button.btn.btn-success(type="button",onclick="selAll();") selAll
      button.btn.btn-success(type="submit") Save
  div#ShowMsg
    p#ShowMsgTxt
  script.    
    function ShowMsg(x)
    {
      document.getElementById("ShowMsgTxt").innerHTML=x;
      $("#ShowMsg").dialog("open"); 
    }
    function selAll()
    {
      $('#StudList_txtInfo input').each(function() {
        
          $(this).prop( "checked", true );
      });
    }
    $(function () {
      $("#slcrs").change(function () {
        var cno=document.getElementById("slcrs").value
        if(cno=="小提琴"||cno=="管弦樂") return;
        $.get("/internal/markup/grademarkstud_list_data_json/"+cno, function (data) {
            txt = "<table>";
                for (var i = 0; i < data.length; i++) {
                    if(data[i]=='stud_ref') continue;
                    var darr=data[i].split('_');
                    var stud_class = darr[0];
                    var stud_seat = darr[1];
                    var stud_cname = darr[2];
                    var GC_Name = darr[3];
                    var stud_ref = darr[4]; //if (stud_cname == '') stud_cname = stud_ename;
                    var i_c = stud_ref;
                    var c_v =  i_c + '_'  + stud_class +'_' + stud_seat + '_' + stud_cname;
                    var c_txt ="<big>"+ stud_class + stud_seat + stud_cname +"</big><br><small>...."+ GC_Name+"</small>";    
                    txt  +="<td width=200 height=50><input type=checkbox name=stud[] value=" + c_v + ">" + c_txt + "</td>";
                    if ((i + 1) % 5 == 0) { txt += '<tr>'; }
                }
                txt += "</table>";
                document.getElementById('StudList_txtInfo').innerHTML = txt;
        }, "json");
      })
      $("#slcno").change(function () {
        var cno=document.getElementById("slcno").value
        if(cno=="---") return;
        $.get("/internal/markup/grademarkstud_list_data_json/"+cno, function (data) {
            txt = "<table>";
                for (var i = 0; i < data.length; i++) {
                    if(data[i]=='stud_ref') continue;
                    var darr=data[i].split('_');
                    var stud_class = darr[0];
                    var stud_seat = darr[1];
                    var stud_cname = darr[2];
                    var GC_Name = darr[3];
                    var stud_ref = darr[4]; //if (stud_cname == '') stud_cname = stud_ename;
                    var i_c = stud_ref;
                    var c_v =  i_c + '_'  + stud_class +'_' + stud_seat + '_' + stud_cname;
                    var c_txt ="<big>"+ stud_seat + stud_cname +"</big><br><small>"+ GC_Name+"</small>";    
                    txt  +="<td width=120 height=50><input type=checkbox name=stud[] value=" + c_v + ">" + c_txt + "</td>";
                    if ((i + 1) % 5 == 0) { txt += '<tr>'; }
                }
                txt += "</table>";
                document.getElementById('StudList_txtInfo').innerHTML = txt;
        }, "json");
      })  //.change();
      $("#ShowMsg").dialog( { autoOpen: false, }); 
    });
    function ShowStudList() {
        document.getElementById('StudList_txtInfo').innerHTML = "loading";
        $('#stud_cnt').text("");
        var m_id = $('#meeting_id').text();
        $.post("Get_StudList.php",
            { 'mid': m_id, 'classno': $('#ClassNo').text(), 's': stafref, 'md5s': md5stafref },
            function (data) {
            }, "json");
    } 
    function classTablefrm_startCallback() { return true; }
    function classTablefrm_completeCallback(response) {
      response=response.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">', "").replace("</pre>", "");
      ShowMsg(response);
      document.getElementById('StudList_txtInfo').innerHTML ="update !";
      document.getElementById("slcno").value="---";
    }       
    $( function() {
      $( "#dialog" ).dialog({
        width:'auto',
        autoOpen: false,
        show: {
          //effect: "blind",
          //duration: 1000
        },
        hide: {
          //effect: "explode",
          //duration: 1000
        }
      });
 
      $( "#OpenClassnoDialog" ).on( "click", function() {
        $( "#dialog" ).dialog( "open" );
      });
    } );