extends ./base.pug  

block content
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.js')
  
  script(src='/jquery-ui-dist/jquery-ui.js')
  link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.css')
  script(src='/javascripts/cool/attend/autocomplete_studlist.js')
  h3 #{action} 預約訪客記錄 
  form(method="POST", enctype="multipart/form-data")
    .form-group.hidden
      label(for="title") 描述
      input.form-control(type="text", name="keyid", id="keyid", value=book.keyid)
      input.form-control(type="text", name="desc", id="desc", value=book.desc)
    table(style="width:100%")#tbl
      tr
        td 標題
        td
          input.form-control(type="text", name="A", id="A", value=book.A)
      tr
        td 內容選項
        td
          label(class="radio-inline")=   "1.交費" 
          input(type="radio", name="F",id= ("F_1"), value= 1, checked=  book.F ==  1 ? true : false )  
          label(class="radio-inline")=   "2.接送子女" 
          input(type="radio", name="F",id= ("F_2"), value= 2, checked=  book.F == 2 ? true : false )  
          label(class="radio-inline")=   "3.面見老師" 
          input(type="radio", name="F",id= ("F_3"), value= 3, checked=  book.F == 3  ? true : false )  
          label(class="radio-inline")=   "4.其他" 
          input(type="radio", name="F",id= ("F_4"), value= 4, checked=  book.F == 4  ? true : false )  
      tr
        td 其他內容
        td
          input.form-control(type="text", name="G", id="G", value=book.G)
      tr
        td 面見老師
        td
          input.form-control(type="text", name="H", id="H", value=book.H)
      tr
        td 預約造訪日期
        td
          input.form-control(type="Date", name="I", id="I", value=book.I)
      tr
        td 預約造訪時間
        td
          input.form-control(type="text", name="O", id="O", value=book.O)
      tr
        td 時間Time_1
        td
          input.form-control(type="text", name="J", id="J", value=book.J)
      tr
        td 時間Time_2
        td
          input.form-control(type="text", name="L", id="L", value=book.L)
      tr
        td 備註
        td
          input.form-control(type="text", name="note", id="note", value=book.note)
    .form-group.hidden
      label(for="loginuser") Created by 
      input.form-control(type="text", name="loginuser", id="loginuser", value=book.loginuser)
      label(for="createdById") Created by ID
      input.form-control(type="text", name="createdById", id="createdById", value=book.createdById)
      input.form-control(type="text", name="datet", id="datet", value=book.datet)
      input.form-control(type="text", name="checkdate", id="checkdate", value=book.checkdate)
    button.btn.btn-success(type="submit") Save
