//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ./base.pug

block content
  h3 預約訪客記錄
    small
  if profile.id ==book.createdById
    .btn-group
      a(href=`/internal/attend/${book.keyid}/edit`, class='btn btn-primary btn-sm')
        i.glyphicon.glyphicon-edit
        span  Edit 預約訪客
      a(href=`/internal/attend/${book.keyid}/delete`, class='btn btn-danger btn-sm')
        i.glyphicon.glyphicon-trash
        span  Delete 預約訪客

  .media
    .media-left
      img(src=book.imageUrl || "/images/deptworklog.jpg")
    .media-body
      h4= book.A
        | &nbsp;at&nbsp;
        small= book.checkdate
      h5 By #{book.author||'unknown'}
      table#tbl
        tr
          td 描述
          td
            pre(class="pre-scrollable")= book.desc
        tr
          td 標題
          td
            pre(class="pre-scrollable")= book.A
        tr
          td 內容選項
          td
            if book.F==1
              pre(class="pre-scrollable") 1.交費
            else if book.F==2
              pre(class="pre-scrollable") 2.接送子女
            else if book.F==3
              pre(class="pre-scrollable") 3.面見老師
            else if book.F==4
              pre(class="pre-scrollable") 4.其他
        tr
          td 其他內容
          td
            pre(class="pre-scrollable")= book.G
        tr
          td 接待對象
          td
            pre(class="pre-scrollable")= book.H
        tr
          td 預約造訪日期
          td
            pre(class="pre-scrollable")= book.I
        tr
          td 預約造訪時間
          td
            pre(class="pre-scrollable")= book.O
        tr
          td 時間Time_1
          td
            pre(class="pre-scrollable")= book.J
        tr
          td 時間Time_2
          td
            pre(class="pre-scrollable")= book.L
        tr
          td 備註
          td
            pre(class="pre-scrollable")= book.note
      small at  #{book.datet}
      br
      small Added by #{book.createdById}
      br
      small Added by #{book.loginuser}
