//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ./base.pug

block content
  h3= fn
  .btn-group
    if editable=='true' 
      a(href=`/internal/markup/studcourse/editstudmark/${course_d_id}?fn=${fn}`, class='btn btn-primary btn-sm')
        i.glyphicon.glyphicon-edit
        span  編輯
      a(href=`/internal/markup/studcourse/regstudcourse/${course_d_id}?fn=${fn}`, class='btn btn-primary btn-sm')
        i.glyphicon.glyphicon-plus-sign
        span  登記學生
    a(href=`/internal/markup/markcrsxls/${course_d_id}`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
        span 下載 
    a(href='#',onclick='mrscrsupload();', class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-upload
      span 上載                          
    //a(href=`/internal/markup/studcourse/${course_d_id}/xls?fn=${fn}`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-download-alt
      span  匯出Xls
    a(href='#', class='btn btn-primary btn-sm')#prtbtn
      i.glyphicon.glyphicon-print
      span Print 
  div#tableContent
    table
      tr
        td 座號
        td 姓名
        td 平時1
        td 考試1
        td 平時2
        td 考試2
        td 平時3
        td 考試3
        td 補考
      each book in books
        tr
          td= book.seat
          td= book.c_name
          td(align='right')= book.t1
          td(align='right')= book.e1
          td(align='right')= book.t2
          td(align='right')= book.e2
          td(align='right')= book.t3
          td(align='right')= book.e3
          td(align='right')= book.pk
  div(title="Show Msg",style="display:none")#ShowMsg
    pre#ShowMsgTxt  
  style.
    td{border: 1px solid grey; margin-left: 10px; margin-right: 10px;padding-left: 10px; padding-right: 10px;}


  include frm/crsupd 
  script(src='/javascripts/cool/webtoolkit.aim.js')  
  script.
    function mrscrsupload(){
      let csid= $('#crsupdfrmSessID').text('#{esess.session_id}');
      let cdid= $('#crsupdfrmCdID').text('#{course_d_id}');  
      let crsname= $('#crsupdfrmCourseName').text('#{fn}');
      $( "#crsupdfrm" ).dialog("open"); 
    }  
    function ShowMsg(x)
    {
      document.getElementById('ShowMsgTxt').innerHTML=x;
      $( "#ShowMsg" ).dialog("open"); //$("#ShowMsg").dialog( { autoOpen: false, });   
    }  

    $(document).ready(function(){
    $("#ShowMsg").dialog( { autoOpen: false, });
    var toPrint = document.getElementById('tableContent');
    $('#prtbtn').click(function(){
      var popupWin = window.open('', '_blank', 'width=350,height=150,location=no,left=200px');
      popupWin.document.open();
      popupWin.document.write('<html><title>prt</title></head><body>');
      popupWin.document.write('#{fn}');
      popupWin.document.write(toPrint.innerHTML);
      popupWin.print();
      popupWin.document.close();
    });
    });      