HTML(xmlns:o="urn:schemas-microsoft-com:office:office", xmlns:x="urn:schemas-microsoft-com:office:excel" ,xmlns="http://www.w3.org/TR/REC-html40")
  head
    meta(http-equiv="content-type", content="application/vndms-excel; charset=utf-8")
  body  
    div#tableContent
      table
        tr
          td |_座號_|
          td |_姓名_|
          td |_測驗1_|
          td |_考試1_|
          td |_測驗2_|
          td |_考試2_|
          td |_測驗3_|
          td |_考試3_|
          td |_補考_|
        each book in books
          tr
            td= book.seat
            td= book.c_name
            td(align='right')= book.t1
            td(align='right')= book.e1
            td(align='right')= book.t2
            td(align='right')= book.e2
            td(align='right')= book.t3
            td(align='right')= book.e3
            td(align='right')= book.pk
   