extends ./base.pug

block content
  meta(http-equiv="refresh", content="300")
  a(href="/internal/classeval/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add Rec

  table#desc
    each book in books
      tr
        td
          .media
            a(href=`/internal/classeval/${book.id}`, style="color: grean; ")
              .media-left
              .media-body            
                h4(  style="color: white;background-color:#222; ") !{book.id} . !{book.title}                  
          table
            tr
              td= book.ce_Date
              td
                span (
                span= book.ce_SectNo
                span )
              td= book.ce_CNo                
              td= book.ce_Subject
              td= book.ce_Teacher
              td
                span= book.ce_Room
      //tr
        td
          small= book.author
            a(href=`/internal/classeval/followlist?rid=${book.id}`) follow list

  if !books.length
    p No rec found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
